{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>确认删除绑定</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
<div style="display: none;" id="myindex-url">{% url 'myindex' %}</div>
    <div class="navbar">
        <a href="{% url 'manage' %}">回到首页</a>
        <a href="#" onclick="logout()">退出登录</a>
    </div>
    <div class="container">
        <h1>确认删除绑定</h1>
        <p>您确定要删除以下绑定吗？</p>
        <table>
            <tr>
                <th>车主 ID</th>
                <th>车主姓名</th>
                <th>车牌号</th>
            </tr>
            <tr>
                <td>{{ own.owner.id }}</td>
                <td>{{ own.owner.name }}</td>
                <td>{{ own.car.LicensePlate }}</td>
            </tr>
        </table>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="delete-button">确认删除</button>
        </form>
        <button onclick="window.location.href='{% url 'own' %}?owner_id={{ own.owner.id }}'" class="cancel-button">取消</button>
    </div>
</body>
</html>