{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>编辑汽车</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
<div style="display: none;" id="myindex-url">{% url 'myindex' %}</div>
    <div class="navbar">
        <a href="{% url 'manage' %}">回到首页</a>
        <a href="#" onclick="logout()">退出登录</a>
    </div>
    <div class="container">
        <h1>编辑汽车信息</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="model">车型:</label><br>
            <input type="text" id="model" name="model" value="{{ car.model }}" required><br>
            <label for="color">颜色:</label><br>
            <input type="text" id="color" name="color" value="{{ car.color }}" required><br>
            <label for="status">状态:</label><br>
            <input type="radio" id="status_0" name="status" value="0" {% if car.status == 0 %}checked{% endif %} required>
            <label for="status_0">未入库</label>
            <input type="radio" id="status_1" name="status" value="1" {% if car.status == 1 %}checked{% endif %} required>
            <label for="status_1">已入库</label><br>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        <button type="submit" class="confirm-button">保存更改</button>
        </form>
        <button onclick="window.location.href='{% url 'car_list' %}'" class="return-button">返回列表</button>
    </div>
</body>
</html>